@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8); /* White with some transparency */
  border: 2px solid rgba(0, 0, 0, 0.8); /* Dark black border with less intensity */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1); /* Solid white on hover */
  border: 2px solid rgba(0, 0, 0, 0.8); /* Dark black border with less intensity on hover */
}
